body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
overflow: hidden;
font-family: "Playwrite DE Grund", cursive;
}
.container{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);
}
.box{
    border-radius: 25px;
    text-align: center;
    background-color: black;
    border: 4px solid white;
    box-shadow: 15px 8px 15px white;
}
.box h1{
    color: white;
    font-size: 3.5rem;
}
#choices{
    margin-bottom: 30px;
}
#choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    transition: background-color 0.5s ease;
    cursor: pointer;
    border: 4px solid white;

}
#choices button:hover{
    background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay{
    color: white;
    font-size: 2.5rem;
}
#resultDisplay{
    color: white;
    font-size: 5rem;
    margin: 30px 0;
}
@media(max-width:425px){
.box h1{
    font-size: 2rem;
}
#choices button{
    font-size: 5rem;
}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}
#resultDisplay{
    font-size: 4rem;
}
}
@media(max-width:320px){
    .box h1{
        font-size: 1.5rem;
    }
    #choices button{
        font-size: 3rem;
    }
    #playerDisplay, #computerDisplay{
        font-size: 1.5rem;
    }
    #resultDisplay{
        font-size: 2rem;
    }
    }